.card__like {
  width: 22px;
  height: 19px;
  margin-right: 20px;
  background-image: url('../../../images/like-disabled.svg');
  background-repeat: no-repeat;
  grid-area: like;
  justify-self: end;
  transition: opacity .3s;
}

.card__like:hover {
  opacity: .5;
}