.popup__field {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  height: 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 10px;
  padding-left: 0;
  box-sizing: border-box;
  width: 100%;
}

.popup__field:first-of-type {
  margin-bottom: 29px;
}

.popup__field:last-of-type {
  margin-bottom: 44px;
}

.popup__field::placeholder {
  color: #000;
}

@media screen and (min-width: 768px) {
  .popup__field:last-of-type {
    margin-bottom: 47px;
  }
}